
/* Game Controls */
.game-controls {

  /* Gameplay Controls */
  .gameplay-controls {
    button {
      min-width: 175px;
      width: 80%;
      display: block;
      margin: 0.5rem auto;
    }
  }

  /* Game Settings */
  .game-settings {
    span {
      line-height: 2.5;
    }
    .select-input {
      margin: 10px 0;
      width: 100%;
      min-width: 200px;
      max-width: 360px;
      border: 1px solid #fff;
      
      div[class$="-singleValue"] {
        color: #888888;
      }
      div[class$="-Input"] {
        color: white;
      }
      div[class$="-control"] {
        background: #222;
        border: none;
        color: #efefef;
        border-radius: 0;
      }
      div[class$="-menu"] * {
        color:#222222;
      }
    }
    @media screen and (max-width: 700px){
      .row {
        flex-direction: column;
      }
    }
  }
}